<%#= form_with model: @comment do |form| %>

  <%#= form.hidden_field :post_id %>

  <%#= form.label :commented, "Write comment:" %>
  <%#= form.text_area :commented %>

<!--  <div class="actions">-->
    <%#= form.submit "Comment" , class: "btn btn-primary"%>
<!--  </div>-->
<%# end %>

<%= form_with(model: [@post, @post.comments.build]) do |form| %>
<!--  <div class="mb-3">-->
    <%#= form.label :user_name, "Your name", class: "form-label" %>
    <%#= form.text_field :user_name, class: "form-control" %>
<!--  </div>-->

  <div class="mb-3">
    <%= form.label :commented, "Comment message", class: "form-label" %>
    <%= form.text_area :commented, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
